{% extends 'clasificaciones/base.html' %}

{% block content %}
    <h1>Clasificacion por autor</h1>
    <h2>Nombre: {{ autor.nombre }} {{ autor.apellido }}</h2>
    <h2>Genero: {{ autor.genero }}</h2>
    <br>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Numero</th>
          <th scope="col">Libro</th>
        </tr>
      </thead>
      <tbody>
        {% for clasificacion in clasificaciones %}
        <tr>
          <td>{{clasificacion.pk}}</td>
          <td>{{clasificacion.libro}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
